* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
  /*? background-color: aliceblue; can't give any solid bg color*/ 
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.5rem;
  color: white;
  margin-bottom: 2rem;
}

button {
  padding: 1rem 1.5rem;
  background-color: crimson;
  color: white;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.25rem;
}

.content {
  text-align: center;
}

.vd {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .vd {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .vd {
    width: auto;
    height: 100%;
  }
}
